.bodyDiv{
    max-width: 100vw;
    height: 80vh;
}

.topCircle{
    height: 18vmin;
}
.bodySubDiv{
    display:flex;
    justify-content: space-between;
    font-size: 1.5rem;
}

.bodyButton{
    height: 2rem;
    border-radius: 1rem;
    width: 8rem;
    background: #4285F4;
    border-color: #4285F4;
    margin-top: 1rem;
    margin-left: 2rem;
}

.bodyText{
    color:#6D6D6D;
    font-size: 1.5rem;
    margin-left: 2rem;

}
.dottedDesign{
    height: 20vmin;
    margin-top: 0rem;
}

.bodyHead{
    margin-left: 2rem;
}

.orangeCircle{
    height: 7vh;
}

.App-logo {
    height: 70vmin;
}
  .App-logo2 {
    height: 70vmin;
    display: none;
}

  @media (max-width: 1024px){
    .bodyDiv{
      margin-top: 2rem;
   }
    .bodySubDiv {
      font-size: 1rem;
    }
    .bodyText {
      font-size: .8rem;
    }
    .App-logo {
      height: 40vmin;
    }
    .topCircle {
        height: 20vmin;
    }
    .bodyHead{
        margin-left: 2rem;
    } 
  }
  
  @media (max-width: 425px) {
    .bodyDiv{
      margin-top: 0rem;
    }
    .bodySubDiv {
        font-size: 1rem;
      }
      .bodyText {
        font-size: 1rem;
      }
      .App-logo{
        display: none;
      }
      .App-logo2{
          height: 70vmin;
          display:block;
      }
      .topCircle {
          height: 22vmin;
      }
      .bodyHead{
          margin-left: 2rem;
      }
      .bodyButton{
        width: 5rem;
        margin-top: 1.5rem;
      }
    }
  