.headerDiv{
    height: 12vh;
    width: 100vw;
    display: flex;
    color:rgb(146, 142, 137);
    font-size: 1rem;
}
.title{
    font-size: 2rem;
    font-family: Poppins;

}

.headerLogo{
    height: 40px;
    padding: 28px 25px 0 25px;

}

@media (max-width: 425px) {
  .title{
      font-size: 1.13rem;
  }
  .headerLogo{
      margin: 1rem;
  }
  .headerDiv{
      font-size: .8rem;
      margin-top: 1rem;
  }
}

@media (max-width: 320px) {
    .title{
        font-size: .9rem;
    }
}
